@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap');

   * {
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
    box-sizing: border-box;
   }

   body {
    margin:0 auto;
    background-color: #f0f2f5;
    color: #0f172a; 
    direction: rtl;
    width: 100%;
    overflow-x: hidden;
   }

/* -------------------------
     (index page) */
     
/* -------- Header (same in all pages) -------- */
   header{
    background-color: #2C5364;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.267);
    padding: 0.8% 3%;
    position: sticky;  top: 0;
    z-index: 100;
    display: flex;    align-items: center;  justify-content: space-between;
    height: 70px;
   }
   .logo{
    color: #ffffff;
    font-size: 24px;
    font-weight: bolder;
    display: flex;  align-items: center;   gap: 10px; 
    white-space: nowrap; 
   }
   .logo-img{
    width:35px;height:35px;
   }
   #links {
    display: flex;
    gap: 15px;
  }
  #links a{
    text-decoration: none;
    color: white;
    font-weight: 550;
    white-space: nowrap;
   }

/*hover*/#links a:hover{
    color: #00b4db;
    text-shadow:0 0 4px #00b3db52 ;
    font-weight: bolder;
}

/* Mobile Menu Toggle (Hidden on Desktop) */
.menu-toggle {
    display: none;
    font-size: 24px;
    color: white;
    background: none;
    border: none;
}

/* -------- Buttons (in all project) -------- */
   .btn{
    padding: 6px 15px;
    border-radius: 50px;
    border: none;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    background-image: linear-gradient(135deg,#00b4db,#2C5364);
    color: #fff;
    transition: 0.2s;
    white-space: nowrap;
   }
   .btn-head,.btn-hero{
    box-shadow: 1px 2px 5px rgba(10, 163, 197, 0.418);
    font-size: 14px;
   }

/*hover*/.btn:hover{
     box-shadow: 1px 2px 10px rgba(0, 179, 219, 0.603);
     background-image: linear-gradient(135deg,#2C5364,#00b4db);
     transform: scale(1.02);
   }

/* --------  hero section -------- */
   .hero {
    width: 100%;
    height: 100vh;
    box-shadow: 0 10px 40px rgba(0,0,0,0.02);
    margin-bottom: 80px;
    padding: 6% 0;
    text-align: center;
    display:flex;
    align-items:center;
    justify-content:center;
    background-image:url(photo/back.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    flex-wrap: wrap;
   }
   .hero-text{
    padding: 20px; 
    animation: slideUp 0.8s ease-out;
   }
   .hero h1 {
    font-size: 3rem;
    color: #2C5364;
    margin-bottom: 15px;
   }
   .hero p {
    color: #2C5364;
    font-size: 1.2rem;
    margin: 0 auto 30px;
   }
   .hero img{
    height: 300px ; width: 300px; 
    display: inline-block;   
    animation: logoFloat 4s ease-in-out infinite;
    max-width: 90%;
   }

/* -------- img animation -------- */
@keyframes logoFloat {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
    
/* ---------- Cards (all cards in index.html)---------- */
.cards-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 0 5% 60px;
    flex-wrap: wrap;
    animation: slideUp 0.8s ease-out;
}
.card {
    background: rgba(255, 255, 255, 0.233);
    color: #2C5364;
    width: 235px;
    padding: 30px 20px;
    text-align: center;
    border-radius: 14px;
    box-shadow: 1px 2px 5px rgba(0, 179, 219, 0.603);
    transition: 0.2s;
    animation: slideUp 0.8s ease-out;
}      
/* hover */.card:hover{
   transform: scale(1.01);
    border: 3px solid #f0f2f5;
    box-shadow: 0 2px 20px #03435275;
}
.card h3 {
    margin: 20px 0;
    font-weight: bolder;
}
.card p {
    color:#636e72;
    line-height: 1.6;
}

 /* ======= الإحصائيات =======  */
 /* same in manager page */
 .stats-section{
  padding: 40px 20px;
}
.stats-container{
  display: grid;
  grid-template-columns: repeat(3, minmax(220px, 1fr));
  gap: 40px 20px;
  max-width: 800px;
  margin: 0 auto 40px;
}
.stat-box { 
    background: white; 
    padding: 20px 18px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05); 
    display: flex; flex-direction: column; align-items: center; justify-content: space-between;
    transition: 0.2s;
    animation: slideUp 0.8s ease-out;
 }
.stat-box h2{
  font-size: 26px;
  font-weight: 800;
}
.stat-box p{
  font-size: 14px;
  color: #64748b;
}
/* hover */.stat-box:hover{
    transform: scale(1.02);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.123); 
}
 
/* -------- footer -------- */
footer {
    background-color: #2c5364;
    color: wheat;
    text-align: center;
    padding: 30px;
}

/* -------------------------
     (about page) */

    .about-card{
    max-width: 90%;
    width: 560px;
    margin: 40px auto ;
    padding: 45px 30px;
    box-shadow: 0 0 18PX -7 #2C5364;
    border-radius: 30px;
    background-color: #ffffff77;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: slideUp 0.8s ease-out;
    }
    .about-logo{
        display: flex;
        gap: 10px; align-items: center; text-align: center;
    }
    .about-logo h2{
        color: #1f3b4d;
        font-size: 28px;
        font-weight: bolder;
    }
    .about-logo img{
        width: 60px; height: 60px;
    }
    .about-text{
        margin-top: 20px;
        color: #1f3b4d;
        line-height: 1.8;
        font-weight: 600;
        text-align: center;
    }

   /* -------------------------
     (login/register) */

   .container{
    position: relative;
    width: 750px;
    height: 450px;
    box-shadow: 0 0 25PX #2C5364;
    border-radius: 30px;
    background-color: #ffffff60;
    overflow: hidden;
    animation: slideUp 0.8s ease-out;
    
   }
   .curved-shape{
    position: absolute;
    left: -10px;
    top: -5px;
    height: 600px;
    width: 850px;
    background: linear-gradient(422deg, #2C5364, #00b4db);
    transform: rotate(-1deg) skewY(127deg);
    transform-origin: top left;
   }
   .form-box{
      color: #636e72;
      position: absolute;
      top: 20px;
      width: 50%; height: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      animation: slideUp 0.8s ease-out;
   }
   .form-box {
      padding: 0 40px;
      right: 0;
    }
   .form-box img{
    width: 90px ;height: 90px;
    animation: logoFloat 4s ease-in-out infinite;
   }
   .form-box h2{
      font-size: 32px;
      text-align: center;
      left: 0;
      padding: 0 40px;
   }
   .input-box{
      position: relative;
      width: 100%; height: 40px;
      margin-top: 25px;
   }
   .input-box input{
      text-align: left;
      width: 100% ; height: 100%;
      background: transparent;
      border: none; outline: none;  border-bottom: 1px solid #636e72; 
      font-size: 14px;  color:#64748b;  font-weight: 600;
      padding-right: 23px;
      padding-top: 20px;
   }
   .input-box label{
      position: absolute;
      top: -4px;
      left: 0;
      font-size: 14px;
      color: #2C5364;
   }

 /* hover */ .input-box:hover label {
      top: -6px;
      font-weight: bolder;
      font-size: 16px;
    }
    .input-box:hover input{
        border-bottom: 2px solid #00b4db;
    }
    .input-box button{
      position: absolute;
       width: 98%;
       top: -10%;  
    }
/* hover */.input-box button:hover{
   top: 0;
  }
   .buttom-link{
      font-size: 14px; 
      text-align: center;
   }
   .buttom-link a{
      text-decoration: none;
      color: #00b4db;
      font-weight: 800;
   }
/* hover */ .buttom-link a:hover{
      text-decoration: underline;
   }
   .info-content{
      position: absolute;
      top: 0; left: 0;
      height: 100%;
      width: 50%;
      text-align: left;
      display: flex;
      justify-content: center;
      flex-direction: column; 
      padding: 0 145px 60px 45px;
   }
   .info-content h2{
      font-size: 32px;
      line-height: 1.3;
      margin-bottom: 20px;
      color: white;
   }
   .info-content p{
      font-size: 16px;
      line-height: 1.1;
      color: #c4d6c5;
   }
.back-home {
  margin-top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(291deg, #2c536449, #34698042);
  color: white;
}

/* -------------------------
      manager page  */

/* -------- dashboard + sidebar same in all manager pages -------- */
.dashboard {
    display: grid;
    grid-template-columns: 22% 78%;
    min-height: calc(100vh - 70px);
}
.sidebar {
    background: white;
    border-left: 1px solid #eee;
    padding-top: 30px;
    position: sticky;
    top: 70px;  
    right: 0;             
    height: calc(100vh - 70px);
}
.sidebar-menu a{
    display: block;
    padding: 15px 30px;
    color: #636e72;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s ease;
}
.sidebar-menu a:hover,
.sidebar-menu a.active {
    background: #f0fbfd;
    color: #00b4db; ;
    border-right: 4px solid #00b4db; 
}
.main-content {
    padding: 50px 40px;
    overflow-y: auto;
}
.dash-main { 
  padding: 25px; overflow-y: auto; 
}
.page-title {
    margin-bottom: 25px;
    color: #2C5364;
}
.styled-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 12px;
}
.styled-table thead th {
    text-align: right;
    padding: 10px;
    color: #2d3436;
    white-space: nowrap;
}
.styled-table tbody tr {
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.04);
    transition: 0.2s;
    border-radius: 15px;

}
/* hover */.styled-table tbody tr:hover {
   transform: scale(1.01);
   box-shadow: 1px 1px 5px rgba(0, 179, 219, 0.603);
}

.styled-table td:first-child { border-top-right-radius: 15px; border-bottom-right-radius: 15px; }
.styled-table td:last-child { border-top-left-radius: 15px; border-bottom-left-radius: 15px; }

.styled-table td {
    padding: 20px;
}
.badge {
    padding: 6px 16px;
    border-radius: 999px;
    font-size: 13px;
    font-weight: 700;
    white-space: nowrap;   /* يمنع نزول الكلمة */
    display: inline-block;
    min-width: 90px;      
    text-align: center;
}
.badge.urgent {
    background: linear-gradient(135deg, #f3cab4, #ffb08d);
    color: #f27036;
}
.badge.normal {
    background: linear-gradient(135deg, #e0f2fe, #bae6fd);
    color: #00b4db;
}
.badge.emergency {
     background:linear-gradient(135deg, #ffebeb, #f7a7a7);
      color: #ff4b4b; 
    } 

/* -------------------------
      manager add task page and add employee page */

.form-card {
    background: #ffffff;
    max-width: 560px;
    margin: 0 auto;
    padding: 45px 50px;
    border-radius: 26px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.08);
    animation: slideUp 0.8s ease-out;
}
.form-title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 800;
    color: #1f3b4d;
    margin-bottom: 35px;
    animation: slideUp 0.8s ease-out;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 28px;
    animation: slideUp 0.8s ease-out;
}
 
.form-group label {
    display: block;
    font-size: 15px;
    font-weight: 700;
    color: #1f3b4d;
    margin-bottom: 10px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 16px 20px;
    border-radius: 14px;
    border: 2px solid #edf2f7;
    background: #f9fafb;
    font-size: 15px;
    color: #1f2937;
    transition: all 0.25s ease;
}
.form-group input:focus,
.form-group select:focus {
    outline: none;
    background: #ffffff;
    border-color: #00b4db;
    box-shadow: 0 0 0 4px rgba(0, 180, 219, 0.15);
}


.main-content {
    padding-top: 70px;
}
/* *******
    Employee page****** */

    .main-content-Employee{
        padding: 60px 60px 20px;
    }
     .tasks-grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap:20px 50px;
      padding: 8px 6px 6px;
      
    }
      .task-card{
      background: #fff;
      border-radius: 18px;
      box-shadow: 2px 14px 30px rgba(15, 23, 42, 0.08);
      padding: 18px 18px 16px;
      position: relative;
      min-height: 150px;
      border: 1px solid #eef2f7;
      animation: slideUp 0.8s ease-out;
    }
 .status-card{
      position: absolute;
      left: 10px;
      top: 10px;
      bottom: 10px;
      width: 46px;
      border-radius: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-weight: 900;
      letter-spacing: 0px;
      white-space: nowrap;
    } 
  .status-card span{
      transform: rotate(-90deg);
      font-size: 18px;
    }
    .red{ background: linear-gradient(180deg, #b91c1c, #f37070); }
   
    .blue{ background: linear-gradient(180deg, #00b4db, #9ee5f5); }
   
    .orange{ background: linear-gradient(180deg, #f5773d, #f8a27a); }

    .task-inner{
      padding-left: 72px; 
    }
    .task-head{
      margin-bottom: 10px;
      font-size: 24px;
      font-weight: 900;
      color: #0f172a;
      line-height: 1.2;
    }
     .task-desc{
      color: #64748b;
      font-weight: 700;
    }
    .task-foot{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 15px 0 0;
    }
    .mini-btn-gray{
      border: 0;
      padding: 10px 18px;
      border-radius: 12px;
      font-weight: 900;
      cursor: pointer;
      box-shadow: 0 10px 18px rgba(15, 23, 42, 0.10);
      background: #e5e7eb;
      color: #6b7280;
    }
    .mini-btn-gray:hover{
      background: #e5e7eb;
      color: #6b7280;
      transform: scale(1);
      box-shadow: 0px 0px 18px rgba(15, 23, 42, 0.10);
    }
    .date{
      font-size: 20px;
      font-weight: 900;
      color: #0f172a;
      letter-spacing: .3px;
    }
      
/* ===== Slide Up Animation ===== */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/***************************************
       RESPONSIVE MEDIA QUERIES (Mobile)
   *************************************** */
@media (max-width: 768px) {
    /*  Header */
    header {
        height: auto;
        padding: 10px 15px;
        flex-wrap: wrap;
    }
    .logo { font-size: 20px; }
    .logo-img { width: 30px; height: 30px; }

    /* Mobile Menu Logic */
    .menu-toggle { display: block; }  /* Display none in Desktop*/

    #links {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
        background-color: #203543;
        padding: 10px 0;
        border-radius: 10px;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 999;
        box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    }
    
    #links.active { display: flex; }
    #links a { padding: 10px 20px; display: block; text-align: center; border-bottom: 1px solid rgba(255,255,255,0.05); }
    #links a:last-child { border: none; }

    /* 2. Hero Section */
    .hero {
        flex-direction: column-reverse;
        padding-top: 100px;
        text-align: center;
        height: auto;
    }
    .hero-text { width: 100%; }
    .hero h1 { font-size: 2rem; }
    .hero img { width: 200px; height: 200px; margin-bottom: 20px; }
    .stats-section{
    padding: 30px 40px;
    }
    .stats-container{
    grid-template-columns: 1fr;
    }
/* about */
    .main-content-Employee {
        padding: 30px 15px; 
    }
    .about-card {
        width: 100%;       
        max-width: 100%;
        padding: 30px 20px; 
        margin: 20px 0;     
    }
    .about-logo img {
        width: 50px;
        height: 50px;
    }
    .about-logo h2 {
        font-size: 24px;
    }
    .about-text {
        font-size: 15px;
        line-height: 1.6;
    }
    /* Login/Register */
     .container {
        position: relative;      
        width: 90%;               
        max-width: 380px;       
        height: auto;           
        min-height: 500px;        
        margin: 0 auto;          
        box-shadow: 0 15px 35px rgba(0,0,0,0.15);
        border-radius: 20px;
         display: flex;
        flex-direction: column;
        align-items: center;    
    }
    /* hide info content*/
    .info-content, .curved-shape { display: none; }
    .form-box {
        position: relative !important; 
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        padding: 30px 20px;           
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    .form-box img {
        width: 80px;
        height: 80px;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    /* Dashboard */
    .dashboard {
        grid-template-columns: 100%;
    } 
    .sidebar {
        position: relative;
        height: auto;
        top: 0;
    }
     .form-card {
        padding: 30px 25px;
    }
    .form-title {
        font-size: 1.5rem;
    }
    .main-content { padding: 20px 15px; }
    .form-card { width: 100%; padding: 20px; }
    /* Employee Grid */
    .tabs{ justify-self: start; }
      .tasks-grid{ grid-template-columns: 1fr; }
      .date{ font-size: 16px; }
      .task-head{ font-size: 20px; }
    /* Table */
    .styled-table { font-size: 14px; }
    .badge { font-size: 10px; padding: 4px 8px; }
    .styled-table th, .styled-table td { padding: 10px; }
  }